#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 72px;
  background: linear-gradient(to right, rgb(20, 113, 150) , lightgrey);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}



